# APP/API CONFIG FILES
config/
api_config.py
app_config.py

# HEROKU
Procfile

# LOCAL SQLITE DB
unogs_cache.sqlite

# LOCAL WORK FOLDERS
old_stuff/
old/
docs/

# VIRTUAL ENVIRONMENTS
venv/
__pycache__/

# VSCODE
.vscode/