{% extends '_base.html' %}
{% block title %}{{watchlist.title}}{% endblock %}
{% block body %}
<h1>{{watchlist.title}}{% if watchlist.is_shared == false %} <span class="small-title">(Private List)</span>{%endif%}</h1>
{% if watchlist.description %}<h4>{{watchlist.description}}</h4>{% endif %}
<h5>Created by {{watchlist.user.username}}</h5>

<ul class="list-group">
    {%for movie in watchlist.movies%}
    <li class="list-group-item">
        <a href="/movie/{{movie.id}}">{{movie.title}}</a>
        {% if is_owner %}
            <button form="form1" formmethod="post" formaction="/watchlists/{{watchlist.id}}/remove_movie/{{movie.id}}" class="badge btn-danger">Remove Movie</button>
        {%endif%}
    </li>
    {%endfor%}
</ul>

{% if is_owner %}
<button form="form1" formmethod="post" formaction="/watchlists/{{watchlist.id}}/edit" class="btn-lg btn-fill btn-warning">Edit Description</button>
<button form="form1" formmethod="post" formaction="/watchlists/{{watchlist.id}}/delete" class="btn-lg btn-fill btn-danger">Delete Watchlist</button>
{% endif %}
<form id="form1"></form>
{% endblock %}

