{% extends '_base.html' %}
{% block title %}Search{% endblock %}
{% block body %}
<div class="main">
    <div class="container">
        <div class="content">
            content here
        </div>
    </div>
    <h1>Search</h1>
    <form method="POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}} {{field}} {% for error in field.errors %} {{error}} {%endfor%}
        </p>
        {% endfor %}
        <button>Submit</button>
    </form>
</div>
{% endblock %}