{% extends '_base.html' %}
{% block title %}what2watch{% endblock %}
{% block body %}

<div class="main" style="background-image: url('/static/images/tvroad.jpeg')">

  <!--    Change the image source '/images/default.jpg' with your favourite image.     -->
      
      <div class="cover black" data-color="black"></div>
       
  <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->
      <div class="container">
          <h1 class="logo">
              What-2-Watch<br>
              <span class="small-title">A Bilingual Netflix Search Tool</span>
          </h1>
  <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->
          
          <div class="content">
              
              <div>
                  <h5 class="info-text">
                      Learning a new language? Looking to enjoy a movie with someone who doesn't speak the same language? 
                      Search below to get the latest shows and movies available in the US Netflix catalog in your selected languages. 
                      You can save and share watchlists by creating an account.</h5>
                  <div class="row">
                      <div class="col-lg-12">
                            <form method="POST" class="form-inline text-center">
                              {{form.hidden_tag()}}
                              {% for field in form if field.widget.input_type != 'hidden' and field.widget.input_type != 'checkbox' %}
                              <div class="form-group">
                                {{field.label}} {{field(class_="form-control transparent home-search-input")}}
                              </div>
                              {% endfor %}
                              <div class="row">
                                {% for field in form if field.widget.input_type != 'hidden' and field.widget.input_type == 'checkbox' %}
                                <div class="checkbox">
                                  {{field.label(class_="checkboxtext")}} {{field(class_="search-checkbox")}}
                                </div>
                                {% endfor %}
                                <br>
                                <button type="submit" class="btn btn-danger search-btn">Search</button>
                              </div>
                            </form>
                        
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer">
        <div class="container">
               Created by <a href="mailto:sbkitchpanich@gmail.com">Sivadej Kitchpanich</a>. View this project on <a href="https://github.com/sivadej/capstone-project-1">GitHub.</a>
        </div>
      </div>
   </div>

{% endblock %}