{% extends '_base.html' %}
{% block title %}{{current_user.username}}'s Profile{% endblock %}
{% block body %}

<p class="light-message">
    Hello, {{current_user.username}}! IN THE DATABASE YOU ARE USER ID # {{current_user.id}}
</p>
<ul class="list-group">
    <li><a class="list-group-item active" href="/search">search for movies</a></li>
    <li><a class="list-group-item" href="/watchlists">public watchlists</a></li>
    <li><a class="list-group-item" href="/user/{{current_user.id}}/watchlists">my watchlists</a></li>
    <li><a class="list-group-item" href="/user/{{current_user.id}}/edit">edit account</a></li>
    <li></li>
    <li><a class="list-group-item" href="/logout">logout</a></li>
</ul>
{% endblock %}