{% extends '_base.html' %}
{% block title %}Search{% endblock %}
{% block body %}
<h1>Search</h1>
<form method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}} {{field}} {% for error in field.errors %} {{error}} {%endfor%}
    </p>
    {% endfor %}
    <p><input type="range" min="1900" max="2020" value="2019" step="1"></p>
    <button>Submit</button>
</form>

<hr />

<form action="/search-sample" method="POST">
    <button>Sample Data</button>
</form>
{% endblock %}