{% extends '_base.html' %}
{% block title %}My Watchlists{% endblock %}
{% block body %}
<h1>My Watchlists</h1>
<ul class="list-group">
    {%for watchlist in watchlists %}
    <li class="list-group-item"><a href="/watchlists/{{watchlist.id}}">{{watchlist.title}}</a>
        <span class="small-title">{% if watchlist.is_shared %}Public{%else%}Private{% endif %}</span>
        <button form="form1" formmethod="post" formaction="/watchlists/{{watchlist.id}}/delete" class="badge btn-danger" onclick="return confirmDelete('list')">Delete List</button>
    </li>
    {%endfor%}
</ul>
<a class="btn btn-lg btn-fill btn-primary" href="/watchlists/new">Create A New Watchlist</a>
<form id="form1"></form>
{% endblock %}