{% extends '_base.html' %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="form-container">

    <h1>Sign Up</h1>
    <form class="form-horizontal" method="POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' and field.widget.input_type != 'checkbox' %}
        <div class="form-group">
            {{field.label(class_="control-label col-sm-3")}}
            <div class="col-sm-9">{{field(class_="form-control")}}</div>
        </div>
        {% endfor %}
        {% for field in form if field.widget.input_type != 'hidden' and field.widget.input_type == 'checkbox' %}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    {{field.label}} {{field}}
                </div>
            </div>
        </div>
        {% endfor %}
      <div class="form-group">        
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-danger">Submit</button>
        </div>
      </div>
    </form>
    {% if form.errors %}
    <div class="alert alert-warning">
          {% for field_name, field_errors in form.errors|dictsort if field_errors %}
              {% for error in field_errors %}
                  {{ error }}<br>
              {% endfor %}
          {% endfor %}
    </div>
    {% endif %}
  </div>
{% endblock %}